@import '~normalize.css';
@import "variables";
@import "grid";

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

html {
  position: relative;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* By convention, all custom components should get this class, so we can render the component as a full block  */
.ng-component { display: block; }
