// *********************************
// GLOBAL CONSTANTS
// *********************************
$base-font-size: 12;

// *********************************
// RESPONSIVE GRID
// *********************************
$grid-columns: 12;
$grid-gutter-width: (
  sm: 20px,
  md: 24px,
  lg: 60px,
);
$grid-col-gutter-width: (
  sm: 12px,
  md: 12px,
  lg: 15px,
);

// *********************************
// RESPONSIVE BREAKPOINTS
// *********************************

// High-side width for each layout
$bp-small:    767px;
$bp-medium:   991px;
$bp-large:    1199px;
$bp-xlarge:   9999px;

$grid-breakpoints-low: (
  sm: 0, // The first breakpoint needs to be 0 to allow elements to position properly below other breakpoints
  md: $bp-small + 1,
  lg: $bp-medium + 1,
);
$grid-breakpoints-high: (
  sm: $bp-small,
  md: $bp-medium,
  lg: $bp-large,
);

// *********************************
// MEDIA QUERIES
// *********************************
$layout-small: '(min-width : #{0px}) and (max-width : #{$bp-small})';
$layout-medium: '(min-width : #{$bp-small+1}) and (max-width : #{$bp-medium})';
$layout-large: '(min-width : #{$bp-medium+1}) and (max-width : #{$bp-large})';
$layout-xlarge: '(min-width : #{$bp-large+1}) and (max-width : #{$bp-xlarge})';
